@import url('https://fonts.googleapis.com/css?family=Comfortaa');


.ui.borderless.topmenu.menu{
  background-color: #66B9CC;
  box-shadow: none;
  border:none;
  font-size: 20px !important;
  border-radius: 0 !important;
}

.landingPage{
    background: url('images/landingBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 650px;
}

.signupPage{
  background: url('images/avacadobackground.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 650px;
}

.signinPage{
  background: url('images/sushibackground.jpg') no-repeat center center fixed;
  font-family: 'Comfortaa', sans-serif;
  background-size: contain;
  height: 600px;
}

.ui.header.firstHeader{
    color: red;
    text-shadow: -2px 2px 3px gray;
    font-size: 50px;
}

.ui.header.cuisine{
    color: white;
    text-shadow: -4px 4px 6px #66B9CC;
    font-size: 50px;
}

.ui.header.secondHeader{
    color: white;
    text-shadow: -2px 2px 3px gray;
}

.ui.header.thirdHeader{
  color: white;
  font-family: 'Comfortaa', sans-serif;
  alignment: center;
}

.ui.grid.column.leftGrid{
    background-color: blue;
    height: 300px;
}
.headertext{
  text-decoration: none;
  overflow: hidden;
}
.headertext:hover{
  text-decoration: underline;
}
div.text:hover{
  text-decoration: underline;
}

.footer-background {
  font-family: 'Comfortaa', sans-serif;
  background-color: #A8C987;
  font-size: smaller;
  color: white;
  alignment: center;
}

.buttons-style{
  font-family: 'Comfortaa';
  background-color: #A8C987;
  font-size: large;
  color: white;
  alignment: center;
}