@import url('https://fonts.googleapis.com/css?family=Comfortaa');


.ui.borderless.topmenu.menu{
  background-color: #66B9CC;
  box-shadow: none;
  border:none;
  font-size: 20px !important;
  border-radius: 0 !important;
  margin-bottom: 0;
}

.landingPage{
    background: url('images/landingBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 725px;
}

.signupPage{
  background: url('images/avacadobackground.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  /*height: 700px;*/
}

.signinPage{
  background: url('images/sushibackground.jpg') no-repeat center center fixed;
  font-family: 'Comfortaa', sans-serif;
  background-size: cover;
  max-height: fit-content;
}

.burgerBackground{
  background: url('images/burgerbackground.jpg') no-repeat center center fixed;
  font-family: 'Comfortaa', sans-serif;
  background-size: cover;
  max-height: fit-content;
}

.fruitBackground{
  background: url('images/fruitbackground.jpg') no-repeat center center fixed;
  font-family: 'Comfortaa', sans-serif;
  background-size: cover;
  max-height: fit-content;
}

.coffeeBackground{
  background: url('images/coffeebackground.jpg') no-repeat center center fixed;
  font-family: 'Comfortaa', sans-serif;
  background-size: cover;
  max-height: fit-content;
}

.backgroundPink{
  background-color: palevioletred;
  background-size: cover;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0;
  padding: 0;
}

.backgroundPurple{
  background-color: #A887C9;
  background-size: cover;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0;
}

.backgroundBlue{
  background-color: #6686CC;
  background-size: cover;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0;
}

.backgroundYellow{
  background-color: #F3C347;
  background-size: cover;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0;
}


.ui.header.firstHeader{
  color: palevioletred;
  text-shadow: -2px 2px 3px whitesmoke;
  font-size: 50px;
}

.ui.header.cuisine{
    color: white;
    text-shadow: -3px 1px 2px #66B9CC;
    font-size: 50px;
}

.ui.header.secondHeader{
    color: white;
    text-shadow: -2px 2px 3px gray;
    font-size: 25px;
}

.ui.header.thirdHeader{
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-size: 28px;
  text-align: justify;
}

.ui.grid.column.leftGrid{
    background-color: blue;
    height: 300px;
}

.headertext{
  text-decoration: none;
  overflow: hidden;
}

.headertext:hover{
  text-decoration: underline;
}

div.text:hover{
  text-decoration: underline;
}

.footer-background {
  font-family: 'Comfortaa', sans-serif;
  background-color: #A8C987;
  font-size: medium;
  letter-spacing: normal;
  line-height: 1.5em;
  color: white;
  alignment: center;
  bottom: auto;
}

.buttons-style{
  font-family: 'Comfortaa', sans-serif;
  background-color: #A8C987;
  font-size: large;
  color: white;
  alignment: center;
}

.ui.yellow.button {
  background-color: #F3C347 !important;
  font-family: 'Comfortaa', sans-serif;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}

.ui.teal.button {
  background-color: #A8C987 !important;
  font-family: 'Comfortaa', sans-serif;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}

#mapBackground {
  background: url(images/maps/snackademic-map-no-rotating-trucks.jpg);
}
