.landingPage{
    background: url('images/landingBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
}

.ui.header.firstHeader{
    color: red;
    text-shadow: -2px 2px 3px gray;
    font-size: 50px;
}

.ui.header.secondHeader{
    color: white;
    text-shadow: -2px 2px 3px gray;
}

.ui.grid.column.leftGrid{
    background-color: blue;
    height: 300px;
}
